<script lang="ts" setup>
import { usePromotionStore } from '@/stores/Promotion'
import { computed, ref } from 'vue'
const promotionStore = usePromotionStore()
</script>
<template>
  <v-text-field
    density="compact"
    variant="solo"
    label="Search Promotion Name"
    prepend-inner-icon="mdi-magnify"
    clearable
    hide-details
    v-model="promotionStore.searchQuery"
    hint="Search promotion by Name"
    @click:clear="promotionStore.searchQuery = ''"
  ></v-text-field>
</template>
