<script setup lang="ts">
import { inject, ref, type Ref } from 'vue'
import { useUserStore } from '@/stores/user'

const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
const loginStore = useUserStore()

const selectedMenuItem = ref<string>('')

const updateSelected = (value: string) => {
  selectedMenuItem.value = value
  console.log('Selected Menu Item:', selectedMenuItem.value)
}
</script>

<template>
  <v-list density="compact" nav v-if="loginStore.isLoggedIn">
    <v-navigation-drawer
      color="#DFBA92"
      v-model="drawer"
      :rail="rail"
      permanent
      @click="rail = false"
    >
      <v-list-item
        prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
        :title="loginStore.loggedInUser ? loginStore.loggedInUser.name : ''"
      >
        <template v-slot:append>
          <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
        </template>
      </v-list-item>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          prepend-icon="mdi-cart"
          title="Point of Sell"
          value="pos"
          @click="updateSelected('pos')"
          :to="{ name: 'pos' }"
        ></v-list-item>

        <v-list-group>
          <template v-slot:activator="{ props }">
            <v-list-item v-bind="props" prepend-icon="mdi-package" title="Stock"></v-list-item>
          </template>
          <v-list-item
            prepend-icon="mdi-package-variant-closed"
            title="Stock Management"
            value="stock"
            @click="updateSelected('stock')"
            :to="{ path: '/stocks' }"
          ></v-list-item>
          <v-list-item
            prepend-icon="mdi-package-variant-closed"
            title="Buy Stock"
            value="buystock"
            @click="updateSelected('buystock')"
            :to="{ path: '/buystock' }"
          ></v-list-item>
        </v-list-group>

        <v-list-item
          prepend-icon="mdi-account-group"
          title="Member Management"
          value="member"
          @click="updateSelected('member')"
          :to="{ path: '/member' }"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-account"
          title="Employee Management"
          value="employee"
          @click="updateSelected('employee')"
          :to="{ path: '/employee' }"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-account-tie"
          title="User Management"
          value="user"
          @click="updateSelected('user')"
          :to="{ path: '/user' }"
        ></v-list-item>

        <v-list-group>
          <template v-slot:activator="{ props }">
            <v-list-item v-bind="props" prepend-icon="mdi-receipt" title="Receipt"></v-list-item>
          </template>
          <v-list-item
            prepend-icon="mdi-package-variant-closed"
            title="Receipt Order"
          ></v-list-item>
          <v-list-item
            prepend-icon="mdi-package-variant-closed"
            title="Receipt Stock"
          ></v-list-item>
        </v-list-group>

        <v-list-item
          prepend-icon="mdi-store"
          title="Branch Management"
          value="branch"
          :to="{ path: '/branch' }"
        ></v-list-item>
        <v-list-item
          prepend-icon="mdi-logout"
          title="Logout"
          value="login"
          @click="loginStore.logout()"
          :to="{ path: '/' }"
        ></v-list-item>
      </v-list>

      <MainAppBar :selectedMenuItem="selectedMenuItem" />
    </v-navigation-drawer>
  </v-list>
</template>
